/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #1663af, #c2e4d0);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.game-container {
  background: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 530px;
  height: 580px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.score-container {
  margin-bottom: 30px;
}

#score {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}

.game-info {
  margin-bottom: 20px;
}

#result {
  font-size: 1.5rem;
  margin: 20px 0;
  color: #fff;
}

#computer-choice {
  font-weight: 700;
}

.choices-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
}

.choice-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.choice-btn img {
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease;
}

.choice-btn:hover img {
  transform: scale(1.2);
}

.game-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  padding: 12px 20px;
  font-size: 1.2rem;
  background-color: #2244a4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

button:hover {
  background-color: #45c6c2db;
  transform: scale(1.1);
}

button:active {
  background-color: #223fff;
  transform: scale(0.95);
}

button:disabled {
  background-color: #c3ccc8bf;
  cursor: not-allowed;
}

/* Efeito de brilho para a lâmpada */
.lamp-on {
  filter: brightness(1.5);
  animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


/* Animação de vibração nos botões */
@keyframes shake {
  0% {
    transform: rotate(-10deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
